@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

.skip-link {
  color: var(--white);
  font-family: var(--ff-secondary);
  font-weight: var(--ff-secondary-w-600);
  display: block;
  padding: 0.25em 1em;
  transform: translateY(-100%);
  position: absolute;
  z-index: 9999;
  transition: transform 0.1s ease-in-out;

  &:focus {
    outline: 2px solid var(--white);
    outline-offset: 3px;
    transform: translateY(0);
  }
}

.attribution {
  color: var(--clr-dark-100);
  background-color: var(--clr-dark-500);
  margin-top: auto;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
